

#container{
margin:auto;
background-color:#112233;



}



#pic1{

width:250px;
height:100px;
position:relative;

}



img.one{
-webkit-transform: scale(.50,.50) translateX(-100px);

}

img.two{
-webkit-transform: scale(.50,.50) translateX(-600px);
}

img.three{
-webkit-transform: scale(.50,.50) translateX(-1100px);

}

img.four{
-webkit-transform: scale(.50,.50) translateX(-1600px);

}

img.five{
-webkit-transform: scale(.50,.50) translateX(-100px);

}

img.six{
-webkit-transform: scale(.50,.50) translateX(-1600px);

}