body{
background-color:#F00;		
}

#fullcontainer1{
	width:600px;
	height:600px;
	position:relative;
}


img.picture1{
height:200px;
height:200px;
-webkit-transform: rotate(45deg);
-moz-transform:  rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
position:absolute;
top:0px;
left:0px;
}





#captioncontainer1{
	position:absolute;
	top:0px;
	height:0px;
opacity:0;
width:200px;
height:200px;
z-index:3;
}




#captioncontainer1:hover{
opacity:1;
width:200px;
height:200px;
}









#fullcontainer2{
	width:600px;
	height:600px;
	position:relative;
}


img.picture2{
height:200px;
height:200px;
-webkit-transform: rotate(45deg);
-moz-transform:  rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
position:absolute;
top:0px;
left:0px;
}





#captioncontainer2{
	position:absolute;
	top:0px;
	height:0px;
opacity:0;
width:200px;
height:200px;
z-index:3;
}




#captioncontainer2:hover{
opacity:1;
width:200px;
height:200px;
}













